body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.homepage {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.homepage-header {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.signup-link, .login-link {
    display: block;
    margin: 10px 0;
    padding: 10px 0;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.signup-link:hover, .login-link:hover {
    background-color: #0056b3;
}

.separator {
    margin: 20px 0;
    font-weight: bold;
}