<table class="ride-request-table" *ngIf="userType == 'customer'">
    <thead>
        <tr>
            <th>Pickup Location</th>
            <th>Destination</th>
            <th>Time</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="notification != undefined">
            <td>{{ notification.pickupLocation }}</td>
            <td>{{ notification.destination }}</td>
            <td>{{ notification.time }}</td>
            <td>{{ notification.status }}</td>
        </tr>
    </tbody>
</table>

<table class="ride-request-table" *ngIf="userType == 'driver' && notification">
    <thead>
        <tr>
            <th>Pickup Location</th>
            <th>Destination</th>
            <th>Time</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="notification != undefined">
            <td>{{ notification.pickupLocation }}</td>
            <td>{{ notification.destination }}</td>
            <td>{{ notification.time }}</td>
            <td class="ride-request-actions">
                <button class="accept-button" [disabled]="disableButton" 
                (click)="acceptRequest(notification)">Accept</button>
                <button class="reject-button" [disabled]="disableButton"
                 (click)="rejectRequest(notification)">Reject</button>
            </td>
        </tr>
    </tbody>
</table>
